<%= form_with(model: task, local: true) do |f| %>
   
   <% if status.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% status.errors.full_statuses.each do |sta| %>
          <li><%= sta %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :status, 'ステータス' %>
  <%= f.text_field :status %>
  
  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>

  <%= f.submit '投稿' %>
<% end %>

